/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    &-default {
      @include btn;
      background-color: $color-default;
    }
    &-error {
      @include btn;
      background-color: $color-error;
    }
    &-info {
      @include btn;
      background-color: $color-info;
    }
    &-success {
      @include btn;
      background-color: $color-success;
    }
    &-warning {
      @include btn;
      background-color: $color-warning;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  